<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../assets/BrisbaneAirport.jpg'); height:25%">

            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../assets/GoldCoastAirport.jpg'); height:25%">

            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../assets/SunshineCoast.jpg'); height:25%">
                <!-- <div class="carousel-caption d-none d-md-block">
                     <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                </div> -->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">

    <h1 class="my-4">Welcome to PickMeup Brisbane</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Brisbane City</h4>
                <div class="card-body">
                    <div class="card-text">
                        <h3 class="my-4" style="font-weight:bold">$30</h3>
                        <p>We pick you up from the Brisbane CBD and Zone 1</p>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check-square"></i>Spring Hill</li>
                            <li><i class="fa-li fa fa-check-square"></i>Fortitude Valley</li>
                            <li><i class="fa-li fa fa-check-square"></i>Bowen Hill</li>
                            <li><i class="fa-li fa fa-check-square"></i>New Farm</li>
                            <li><i class="fa-li fa fa-check-square"></i>Newstead</li>
                        </ul>
                        <p>to the Brisbane Airport for just $30</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Brisbane - Surfer's Paradise</h4>
                <div class="card-body">
                    <div class="card-text">
                        <h3 class="my-4" style="font-weight:bold">$85</h3>
                        <p>We pick you up from Brisbane to Surfer's Paradise and surrounded areas
                            <br/> or
                            <br/> Surfer's Paradise and surrounded areas to the Brisbane Airport for just $85</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Brisbane-Gold Coast Airport</h4>
                <div class="card-body">
                    <div class="card-text">
                        <h3 class="my-4" style="font-weight:bold">$100</h3>
                        <p>
                            Transfer from Brisbane to the Gold Coast Airport
                            <br/> or
                            <br/> the Gold Coast Airport to Brisbane for just $100


                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-12">
            <div class="card h-100">
                <h4 class="card-header">We offer an affordable and quality service</h4>
                <div class="card-body">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Toowong $35</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Woolloongabba $35</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Indooroopilly $40</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Sunnybank $40</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Zone 2 $35</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Zone 3 $40</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Zone 4 $45</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Airport - Zone 5 $50</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-check-square"></i>Brisbane - Surfer's Paradise $85</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Brisbane - Gold Coast Airport $100</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Brisbane - Sunshine $110</li>
                                                <li><i class="fa-li fa fa-check-square"></i>Brisbane - Noosa $155</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p> ((Note)) Our service fee varies from the pick-up areas to your destination. We can pick you up wherever you are. (BRISBANE Airport/ Brisbane Regions/ GOLD COAST Airport / Gold Coast Regions) Please CONTACT us for OTHER AREAS!!
                                KakaoTalk: mem4u / cristhyanc</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>